<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./cards.css">
    <title>Blood Bank Admin</title>
</head>
<body>
    <section>
            <div class="newLead">
                <a href="/bloodbankForm" class="">Add a new Lead</a>
            </div>
            <div class="card"> 
                <h1>Covid Helpline numbers<br> and leads</h1>
                <% bloodBank.forEach(bloodBank => { %>
    
                    <details class="warning">
                        <summary><%= bloodBank.authorityName %></summary>
                        <ul>
                            
                            <li>Address:</li>
                            <%= bloodBank.authorityName %>
                            <br><br>
                            <li>City:</li>
                            <%= bloodBank.city %>
                            <br><br>
                            <li>Contact No:</li>
                            <%= bloodBank.contact %>
                            <br><br>
                            <li>Last Verified At:</li>
                            <%= bloodBank.lastVerified.toLocaleDateString() %>
                            <br><br>

                        </ul>
                        <a id="edit" href="/bloodbank-admin/edit/<%= bloodBank.id %>">Edit</a>
                        <form action=""  method="POST">
                            <input type="submit" class="btn btn-danger mt-2 mb-4" value="DELETE">
                        </form>
                    </details>
               <% }) %>
            </div>
            

    </section>
    
</body>
</html>