<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./cards.css">
</head>

<body>
    <div class="header">
        <a href="/"><i class="fas fa-home" style="font-size: 3rem;"></i></a>
        <h2 class="heading">All ICU Bed Leads</h2>
    </div>
    <div class="container">
        
        <div class="card"> 
            <h1>Covid Helpline numbers<br> and leads</h1>
            <% hospitals.forEach(hospitals => { %>

                <details class="warning">
                    <summary><%= hospitals.authorityName %></summary>
                    <ul>
                        
                        <li>Address:</li>
                        <%= hospitals.address %>
                        <br><br>
                        <li>City:</li>
                        <%= hospitals.city %>
                        <br><br>
                        <li>Contact No:</li>
                        <%= hospitals.contact %>
                        <br><br>
                        <li>Last Verified At:</li>
                        <%= hospitals.lastVerified.toLocaleDateString() %>
                        
                        <%= new Date(hospitals.lastVerified).toLocaleTimeString() %>
                        <br><br>
                    </ul>
                </details>
           <% }) %>
    
        </div>
    </div>
   
</body>

</html>
