<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title.title %>
    </title>

    <link rel="stylesheet" href="./cards.css">
</head>

<body>
    <div class="header">
        <h2><a href="/">Home</a></h2>
        <h2 class="heading">All Oxygen Leads</h2>
    </div>
    <div class="container">
        
        <div class="card"> 
            <h1>Covid Helpline numbers<br> and leads</h1>
            <% oxygen.forEach(oxygen => { %>

                <details class="warning">
                    <summary><%= oxygen.authorityName %></summary>
                    <ul>
                        
                        <li>Address:</li>
                        <%= oxygen.address %>
                        <br><br>
                        <li>City:</li>
                        <%= oxygen.city %>
                        <br><br>
                        <li>Contact No:</li>
                        <%= oxygen.contact %>
                        <br><br>
                        <li>Last Verified At:</li>
                        <%= oxygen.lastVerified.toLocaleDateString() %>
                        <br><br>
                    </ul>
                </details>
           <% }) %>
    
        </div>
    </div>

</body>

</html>