<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./cards.css">
    <title>Plasma Admin</title>
</head>
<body>
    <div class="header">
        <a href="/"><i class="fas fa-home" style="font-size: 3rem;"></i></a>
        <h2 class="heading">All Plasma Leads</h2>
    </div>
    <section>
            <div class="newLead">
                <a href="/plasmaForm" class="">Add a new Lead</a>
            </div>
            <div class="card"> 
                <h1>Covid Helpline numbers<br> and leads</h1>
                <% plasma.forEach(plasma => { %>

                    <details class="warning">
                        <summary><%= plasma.authorityName %></summary>
                        <ul>
                            
                            <li>Address:</li>
                            <%= plasma.address %>
                            <br><br>
                            <li>City:</li>
                            <%= plasma.city %>
                            <br><br>
                            <li>Contact No:</li>
                            <%= plasma.contact %>
                            <br><br>
                            <li>Last Verified At:</li>
                            <%= plasma.lastVerified.toLocaleDateString() %>
                            <%= plasma.lastVerified.toLocaleTimeString() %>
                            <br><br>
                        </ul>
                        <a id="edit" href="/plasma-admin/edit/<%= plasma.id %>">Edit</a>
                        <form action="/plasma-admin/delete/<%= plasma.id %>?_method=DELETE"  method="POST">
                            <input type="submit" class="btn btn-danger mt-2 mb-4" value="DELETE">
                        </form>
                    </details>
               <% }) %>
            </div>
            

    </section>
    
</body>
</html>