<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./cards.css">
</head>

<body>
    <div class="header">
        <a href="/"><i class="fas fa-home" style="font-size: 3rem;"></i></a>
        <h2 class="heading">All Plasma Leads</h2>
    </div>
    <div class="container">
        
        <div class="card"> 
            <h1>Covid Helpline numbers<br> and leads</h1>
            <% plasma.forEach(plasma => { %>

                <details class="warning">
                    <summary><%= plasma.authorityName %></summary>
                    <ul>
                        
                        <li>Address:</li>
                        <%= plasma.address %>
                        <br><br>
                        <li>City:</li>
                        <%= plasma.city %>
                        <br><br>
                        <li>Contact No:</li>
                        <%= plasma.contact %>
                        <br><br>
                        <li>Last Verified At:</li>
                            <%= new Date(plasma.lastVerified).toLocaleString(undefined, {timeZone: 'Asia/Kolkata'}) %>
                        <br><br>
                    </ul>
                </details>
           <% }) %>
    
        </div>
    </div>
  
</body>

</html>
